<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267873578295-hv3n2ofukaptddk5d6um3ctd9q1j8fb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267873578295-hv3n2ofukaptddk5d6um3ctd9q1j8fb5</string>
	<key>API_KEY</key>
	<string>AIzaSyAoBsifXSTEVZWGnz3mwqfVM2x3Z48GlSg</string>
	<key>GCM_SENDER_ID</key>
	<string>267873578295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relicontractor</string>
	<key>PROJECT_ID</key>
	<string>reli-solutions-inc</string>
	<key>STORAGE_BUCKET</key>
	<string>reli-solutions-inc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267873578295:ios:437ee32414ec9e18e7beb2</string>
</dict>
</plist>